In [1]:
import pandas as pd

In [2]:
produce_data = pd.read_csv('/Users/ajarbuckle/Desktop/Produce Project/Original Data/produce_price_timeseries.csv')

# Getting rid of unnecessary columns 
produce_data = produce_data[['Commodity', 'Date', 'Average']]

# Changing some column names 
produce_data.rename(columns={'Average': 'Price', 'Commodity': 'Item'}, inplace=True)

produce_data

                       Item        Date  Price
0        Tomato Big(Nepali)  2013-06-16   37.5
1       Tomato Small(Local)  2013-06-16   29.0
2                Potato Red  2013-06-16   20.5
3              Potato White  2013-06-16   15.5
4        Onion Dry (Indian)  2013-06-16   29.0
...                     ...         ...    ...
197156    Garlic Dry Nepali  2021-05-13  110.0
197157     Fish Fresh(Rahu)  2021-05-13  275.0
197158  Fish Fresh(Bachuwa)  2021-05-13  230.0
197159   Fish Fresh(Chhadi)  2021-05-13  225.0
197160  Fish Fresh(Mungari)  2021-05-13  245.0

[197161 rows x 3 columns]

In [3]:
# Checking to see how many commodities are in the dataframe so that I can see how many are filtered out in each step 
# of my criteria 

produce_data['Item'].nunique()

132

In [4]:
# Making sure that the 'Date' column is a date variable

produce_data['Date'] = pd.to_datetime(produce_data['Date'])
produce_data.dtypes

Item             object
Date     datetime64[ns]
Price           float64
dtype: object

In [5]:
# Creating a new dataframe that has the first and last price recording for each item, plus how many days they span ('Total_Span'), 
# plus how many days would be 75% of the total days spanned ('Min_Days')

# I will use this dataframe to determine which items to do time series forecasting on 

forecast_items = produce_data.groupby('Item')['Date'].agg(['min', 'max'])

# Renaming the 'min' and 'max' columns for clarity 
forecast_items.rename(columns={'min': 'First_Day', 'max':'Last_Day'}, inplace=True)

forecast_items['Total_Span'] = (forecast_items['Last_Day'] - forecast_items['First_Day'] + pd.Timedelta(days=1)).dt.days.astype(int)
forecast_items['Min_Days'] = (forecast_items['Total_Span'] * 0.75).astype(int)

forecast_items

                     First_Day   Last_Day  Total_Span  Min_Days
Item
Apple(Fuji)         2019-05-31 2021-05-13         714       535
Apple(Jholey)       2013-06-16 2021-05-12        2888      2166
Arum                2013-06-25 2021-05-13        2880      2160
Asparagus           2013-06-16 2021-05-13        2889      2166
Bakula              2013-09-29 2021-04-27        2768      2076
...                        ...        ...         ...       ...
Turnip              2013-06-16 2021-04-27        2873      2154
Turnip A            2013-06-16 2021-05-13        2889      2166
Water Melon(Dotted) 2019-06-04 2021-04-29         696       522
Water Melon(Green)  2013-06-16 2021-05-13        2889      2166
Yam                 2013-10-27 2021-04-20        2733      2049

[132 rows x 4 columns]

In [6]:
# Creating a new column in the forecast_items dataframe shows how many days each item had its price recorded 

# Get the number of days each item was recorded
item_counts = produce_data.groupby('Item').size().reset_index(name='Total_Days')

# Merge that information onto the forecast_items dataframe
forecast_items = pd.merge(forecast_items, item_counts, on='Item', how='left')

forecast_items

,Item,First_Day,Last_Day,Total_Span,Min_Days,Total_Days
0,Apple(Fuji),2019-05-31,2021-05-13,714,535,395
1,Apple(Jholey),2013-06-16,2021-05-12,2888,2166,2683
2,Arum,2013-06-25,2021-05-13,2880,2160,2020
3,Asparagus,2013-06-16,2021-05-13,2889,2166,1055
4,Bakula,2013-09-29,2021-04-27,2768,2076,1131
...,...,...,...,...,...,...
127,Turnip,2013-06-16,2021-04-27,2873,2154,420
128,Turnip A,2013-06-16,2021-05-13,2889,2166,2538
129,Water Melon(Dotted),2019-06-04,2021-04-29,696,522,42
130,Water Melon(Green),2013-06-16,2021-05-13,2889,2166,2679
131,Yam,2013-10-27,2021-04-20,2733,2049,1105

In [7]:
# Now getting rid of any commodities whose prices were not recorded on at least 75% of the days that their first and last days of recording span

forecast_items = forecast_items[forecast_items['Total_Days'] >= forecast_items['Min_Days']]
forecast_items

,Item,First_Day,Last_Day,Total_Span,Min_Days,Total_Days
1,Apple(Jholey),2013-06-16,2021-05-12,2888,2166,2683
5,Bamboo Shoot,2013-06-16,2021-05-13,2889,2166,2744
6,Banana,2013-06-16,2021-05-13,2889,2166,2744
9,Bitter Gourd,2013-06-16,2021-05-13,2889,2166,2670
10,Bottle Gourd,2013-06-16,2021-05-13,2889,2166,2700
...,...,...,...,...,...,...
122,Tomato Big(Nepali),2013-06-16,2021-05-13,2889,2166,2507
124,Tomato Small(Local),2013-06-16,2021-05-13,2889,2166,2741
126,Tomato Small(Tunnel),2019-05-31,2021-05-13,714,535,686
128,Turnip A,2013-06-16,2021-05-13,2889,2166,2538
130,Water Melon(Green),2013-06-16,2021-05-13,2889,2166,2679

In [8]:
# Now getting rid of any commodities that don't have data for at least 4 years

forecast_items = forecast_items[forecast_items['Total_Span'] >= 365 * 4]
forecast_items

,Item,First_Day,Last_Day,Total_Span,Min_Days,Total_Days
1,Apple(Jholey),2013-06-16,2021-05-12,2888,2166,2683
5,Bamboo Shoot,2013-06-16,2021-05-13,2889,2166,2744
6,Banana,2013-06-16,2021-05-13,2889,2166,2744
9,Bitter Gourd,2013-06-16,2021-05-13,2889,2166,2670
10,Bottle Gourd,2013-06-16,2021-05-13,2889,2166,2700
11,Brd Leaf Mustard,2013-06-16,2021-05-13,2889,2166,2742
12,Brinjal Long,2013-06-16,2021-05-13,2889,2166,2736
16,Cabbage(Local),2013-06-16,2021-05-13,2889,2166,2749
18,Capsicum,2013-06-16,2021-05-13,2889,2166,2725
19,Carrot(Local),2013-06-16,2021-05-13,2889,2166,2736
21,Cauli Local,2013-06-16,2021-05-13,2889,2166,2750
24,Celery,2013-06-16,2021-05-02,2878,2158,2462
25,Chilli Dry,2013-06-16,2021-05-13,2889,2166,2748
26,Chilli Green,2013-06-16,2021-05-13,2889,2166,2735
30,Christophine,2013-06-16,2021-04-27,2873,2154,2225
33,Coriander Green,2013-06-16,2021-05-13,2889,2166,2741
34,Cow pea(Long),2013-06-16,2021-05-13,2889,2166,2251
36,Cress Leaf,2013-06-16,2021-05-13,2889,2166,2609
38,Cucumber(Local),2013-06-16,2021-05-13,2889,2166,2686
40,Fennel Leaf,2013-06-16,2021-05-12,2888,2166,2377
41,Fenugreek Leaf,2013-06-16,2021-05-13,2889,2166,2296
42,Fish Fresh,2013-06-16,2020-10-20,2684,2013,2047
48,French Bean(Local),2013-06-16,2021-05-13,2889,2166,2739
50,Garlic Dry Chinese,2013-06-16,2021-05-13,2889,2166,2728
51,Garlic Dry Nepali,2013-06-16,2021-05-13,2889,2166,2560
52,Garlic Green,2013-06-16,2021-05-13,2889,2166,2675
53,Ginger,2013-06-16,2021-05-13,2889,2166,2751
58,Gundruk,2013-06-16,2021-05-02,2878,2158,2420
64,Lettuce,2013-06-16,2021-05-13,2889,2166,2575
65,Lime,2013-06-16,2021-05-13,2889,2166,2725
74,Mint,2013-06-16,2021-05-13,2889,2166,2634
77,Mushroom(Kanya),2013-06-16,2021-05-13,2889,2166,2730
79,Mustard Leaf,2013-06-16,2021-05-13,2889,2166,2516
81,Okara,2013-06-16,2021-05-13,2889,2166,2663
83,Onion Dry (Indian),2013-06-16,2021-05-13,2889,2166,2742
84,Onion Green,2013-06-16,2021-05-13,2889,2166,2735
88,Papaya(Nepali),2013-06-16,2021-05-13,2889,2166,2182
89,Parseley,2013-06-16,2021-05-02,2878,2158,2423
92,Pineapple,2013-06-16,2021-05-13,2889,2166,2634
93,Pointed Gourd(Local),2013-06-16,2021-05-13,2889,2166,2260
95,Pomegranate,2013-06-16,2021-05-13,2889,2166,2642
96,Potato Red,2013-06-16,2021-05-13,2889,2166,2746
99,Potato White,2013-06-16,2021-05-07,2883,2162,2381
100,Pumpkin,2013-06-16,2021-05-13,2889,2166,2715
103,Raddish White(Local),2013-06-16,2021-05-13,2889,2166,2747
108,Spinach Leaf,2013-06-16,2021-05-13,2889,2166,2733
110,Squash(Long),2013-06-16,2021-05-09,2885,2163,2374
113,Sugarbeet,2013-06-16,2021-05-13,2889,2166,2618
116,Sweet Orange,2013-06-16,2021-05-13,2889,2166,2556
119,Tamarind,2013-06-16,2021-05-13,2889,2166,2715
120,Tofu,2013-06-16,2021-05-13,2889,2166,2694
122,Tomato Big(Nepali),2013-06-16,2021-05-13,2889,2166,2507
124,Tomato Small(Local),2013-06-16,2021-05-13,2889,2166,2741
128,Turnip A,2013-06-16,2021-05-13,2889,2166,2538
130,Water Melon(Green),2013-06-16,2021-05-13,2889,2166,2679

In [9]:
len(forecast_items)

55

In [10]:
# Now I'm going to read in another CSV that has quantiative information on seasonality

seasonality_data = pd.read_csv('/Users/ajarbuckle/Desktop/Produce Project/Derived Tables/produce_seasonality.csv')

seasonality_data

,item,low_price_month,low_price_season,low_price,peak_price_month,peak_price_season,peak_price,seasonal_variability,seasonal_variability_rank
0,Maize,June,Summer,5.50,January,Winter,72.50,13.18,1
1,Pointed Gourd(Local),June,Summer,35.94,February,Winter,213.60,5.94,2
2,Guava,September,Fall,36.56,March,Spring,195.71,5.35,3
3,Carrot(Terai),May,Spring,17.88,November,Fall,86.67,4.85,4
4,Kinnow,May,Spring,50.62,November,Fall,230.00,4.54,5
...,...,...,...,...,...,...,...,...,...
127,Fish Fresh,July,Summer,227.40,October,Fall,241.68,1.06,128
128,Tofu,July,Summer,78.40,September,Fall,81.56,1.04,129
129,Mango(Calcutte),May,Spring,133.08,April,Spring,135.00,1.01,130
130,Litchi(Indian),June,Summer,142.62,June,Summer,142.62,1.00,131
131,Mango(Chousa),May,Spring,135.00,May,Spring,135.00,1.00,131

In [11]:
# Renaming the 'item' column to 'Item' for simplicity's sake when joining
seasonality_data.rename(columns={'item': 'Item'}, inplace=True)

# Eliminating unnecessary columns 
seasonality_data = seasonality_data[['Item', 'seasonal_variability']]

seasonality_data

                     Item  seasonal_variability
0                   Maize                 13.18
1    Pointed Gourd(Local)                  5.94
2                   Guava                  5.35
3           Carrot(Terai)                  4.85
4                  Kinnow                  4.54
..                    ...                   ...
127            Fish Fresh                  1.06
128                  Tofu                  1.04
129       Mango(Calcutte)                  1.01
130        Litchi(Indian)                  1.00
131         Mango(Chousa)                  1.00

[132 rows x 2 columns]

In [12]:
# Now joining the seasonal_variability dataframe onto the forecast_items dataframe so that I can whittle it down even further to the top 
# 5 commodities with the most seasonal variability 

forecast_items = pd.merge(forecast_items, seasonality_data, on='Item', how='left')
forecast_items

,Item,First_Day,Last_Day,Total_Span,Min_Days,Total_Days,seasonal_variability
0,Apple(Jholey),2013-06-16,2021-05-12,2888,2166,2683,1.20
1,Bamboo Shoot,2013-06-16,2021-05-13,2889,2166,2744,1.20
2,Banana,2013-06-16,2021-05-13,2889,2166,2744,1.35
3,Bitter Gourd,2013-06-16,2021-05-13,2889,2166,2670,4.01
4,Bottle Gourd,2013-06-16,2021-05-13,2889,2166,2700,1.42
5,Brd Leaf Mustard,2013-06-16,2021-05-13,2889,2166,2742,2.17
6,Brinjal Long,2013-06-16,2021-05-13,2889,2166,2736,1.61
7,Cabbage(Local),2013-06-16,2021-05-13,2889,2166,2749,2.49
8,Capsicum,2013-06-16,2021-05-13,2889,2166,2725,2.34
9,Carrot(Local),2013-06-16,2021-05-13,2889,2166,2736,3.37
10,Cauli Local,2013-06-16,2021-05-13,2889,2166,2750,2.88
11,Celery,2013-06-16,2021-05-02,2878,2158,2462,1.59
12,Chilli Dry,2013-06-16,2021-05-13,2889,2166,2748,1.19
13,Chilli Green,2013-06-16,2021-05-13,2889,2166,2735,1.71
14,Christophine,2013-06-16,2021-04-27,2873,2154,2225,3.18
15,Coriander Green,2013-06-16,2021-05-13,2889,2166,2741,4.16
16,Cow pea(Long),2013-06-16,2021-05-13,2889,2166,2251,2.64
17,Cress Leaf,2013-06-16,2021-05-13,2889,2166,2609,1.78
18,Cucumber(Local),2013-06-16,2021-05-13,2889,2166,2686,1.47
19,Fennel Leaf,2013-06-16,2021-05-12,2888,2166,2377,1.68
20,Fenugreek Leaf,2013-06-16,2021-05-13,2889,2166,2296,1.77
21,Fish Fresh,2013-06-16,2020-10-20,2684,2013,2047,1.06
22,French Bean(Local),2013-06-16,2021-05-13,2889,2166,2739,1.62
23,Garlic Dry Chinese,2013-06-16,2021-05-13,2889,2166,2728,1.36
24,Garlic Dry Nepali,2013-06-16,2021-05-13,2889,2166,2560,1.62
25,Garlic Green,2013-06-16,2021-05-13,2889,2166,2675,1.98
26,Ginger,2013-06-16,2021-05-13,2889,2166,2751,1.64
27,Gundruk,2013-06-16,2021-05-02,2878,2158,2420,1.11
28,Lettuce,2013-06-16,2021-05-13,2889,2166,2575,2.10
29,Lime,2013-06-16,2021-05-13,2889,2166,2725,1.52
30,Mint,2013-06-16,2021-05-13,2889,2166,2634,1.90
31,Mushroom(Kanya),2013-06-16,2021-05-13,2889,2166,2730,1.79
32,Mustard Leaf,2013-06-16,2021-05-13,2889,2166,2516,1.51
33,Okara,2013-06-16,2021-05-13,2889,2166,2663,2.79
34,Onion Dry (Indian),2013-06-16,2021-05-13,2889,2166,2742,2.64
35,Onion Green,2013-06-16,2021-05-13,2889,2166,2735,2.40
36,Papaya(Nepali),2013-06-16,2021-05-13,2889,2166,2182,1.42
37,Parseley,2013-06-16,2021-05-02,2878,2158,2423,1.71
38,Pineapple,2013-06-16,2021-05-13,2889,2166,2634,1.15
39,Pointed Gourd(Local),2013-06-16,2021-05-13,2889,2166,2260,5.94
40,Pomegranate,2013-06-16,2021-05-13,2889,2166,2642,1.26
41,Potato Red,2013-06-16,2021-05-13,2889,2166,2746,2.24
42,Potato White,2013-06-16,2021-05-07,2883,2162,2381,2.24
43,Pumpkin,2013-06-16,2021-05-13,2889,2166,2715,1.59
44,Raddish White(Local),2013-06-16,2021-05-13,2889,2166,2747,1.87
45,Spinach Leaf,2013-06-16,2021-05-13,2889,2166,2733,1.89
46,Squash(Long),2013-06-16,2021-05-09,2885,2163,2374,1.64
47,Sugarbeet,2013-06-16,2021-05-13,2889,2166,2618,1.32
48,Sweet Orange,2013-06-16,2021-05-13,2889,2166,2556,1.33
49,Tamarind,2013-06-16,2021-05-13,2889,2166,2715,1.08
50,Tofu,2013-06-16,2021-05-13,2889,2166,2694,1.04
51,Tomato Big(Nepali),2013-06-16,2021-05-13,2889,2166,2507,1.56
52,Tomato Small(Local),2013-06-16,2021-05-13,2889,2166,2741,2.28
53,Turnip A,2013-06-16,2021-05-13,2889,2166,2538,1.63
54,Water Melon(Green),2013-06-16,2021-05-13,2889,2166,2679,2.17

In [13]:
forecast_items.sort_values('seasonal_variability', ascending = False)

,Item,First_Day,Last_Day,Total_Span,Min_Days,Total_Days,seasonal_variability
39,Pointed Gourd(Local),2013-06-16,2021-05-13,2889,2166,2260,5.94
15,Coriander Green,2013-06-16,2021-05-13,2889,2166,2741,4.16
3,Bitter Gourd,2013-06-16,2021-05-13,2889,2166,2670,4.01
9,Carrot(Local),2013-06-16,2021-05-13,2889,2166,2736,3.37
14,Christophine,2013-06-16,2021-04-27,2873,2154,2225,3.18
10,Cauli Local,2013-06-16,2021-05-13,2889,2166,2750,2.88
33,Okara,2013-06-16,2021-05-13,2889,2166,2663,2.79
34,Onion Dry (Indian),2013-06-16,2021-05-13,2889,2166,2742,2.64
16,Cow pea(Long),2013-06-16,2021-05-13,2889,2166,2251,2.64
7,Cabbage(Local),2013-06-16,2021-05-13,2889,2166,2749,2.49
35,Onion Green,2013-06-16,2021-05-13,2889,2166,2735,2.40
8,Capsicum,2013-06-16,2021-05-13,2889,2166,2725,2.34
52,Tomato Small(Local),2013-06-16,2021-05-13,2889,2166,2741,2.28
42,Potato White,2013-06-16,2021-05-07,2883,2162,2381,2.24
41,Potato Red,2013-06-16,2021-05-13,2889,2166,2746,2.24
54,Water Melon(Green),2013-06-16,2021-05-13,2889,2166,2679,2.17
5,Brd Leaf Mustard,2013-06-16,2021-05-13,2889,2166,2742,2.17
28,Lettuce,2013-06-16,2021-05-13,2889,2166,2575,2.10
25,Garlic Green,2013-06-16,2021-05-13,2889,2166,2675,1.98
30,Mint,2013-06-16,2021-05-13,2889,2166,2634,1.90
45,Spinach Leaf,2013-06-16,2021-05-13,2889,2166,2733,1.89
44,Raddish White(Local),2013-06-16,2021-05-13,2889,2166,2747,1.87
31,Mushroom(Kanya),2013-06-16,2021-05-13,2889,2166,2730,1.79
17,Cress Leaf,2013-06-16,2021-05-13,2889,2166,2609,1.78
20,Fenugreek Leaf,2013-06-16,2021-05-13,2889,2166,2296,1.77
37,Parseley,2013-06-16,2021-05-02,2878,2158,2423,1.71
13,Chilli Green,2013-06-16,2021-05-13,2889,2166,2735,1.71
19,Fennel Leaf,2013-06-16,2021-05-12,2888,2166,2377,1.68
46,Squash(Long),2013-06-16,2021-05-09,2885,2163,2374,1.64
26,Ginger,2013-06-16,2021-05-13,2889,2166,2751,1.64
53,Turnip A,2013-06-16,2021-05-13,2889,2166,2538,1.63
24,Garlic Dry Nepali,2013-06-16,2021-05-13,2889,2166,2560,1.62
22,French Bean(Local),2013-06-16,2021-05-13,2889,2166,2739,1.62
6,Brinjal Long,2013-06-16,2021-05-13,2889,2166,2736,1.61
43,Pumpkin,2013-06-16,2021-05-13,2889,2166,2715,1.59
11,Celery,2013-06-16,2021-05-02,2878,2158,2462,1.59
51,Tomato Big(Nepali),2013-06-16,2021-05-13,2889,2166,2507,1.56
29,Lime,2013-06-16,2021-05-13,2889,2166,2725,1.52
32,Mustard Leaf,2013-06-16,2021-05-13,2889,2166,2516,1.51
18,Cucumber(Local),2013-06-16,2021-05-13,2889,2166,2686,1.47
4,Bottle Gourd,2013-06-16,2021-05-13,2889,2166,2700,1.42
36,Papaya(Nepali),2013-06-16,2021-05-13,2889,2166,2182,1.42
23,Garlic Dry Chinese,2013-06-16,2021-05-13,2889,2166,2728,1.36
2,Banana,2013-06-16,2021-05-13,2889,2166,2744,1.35
48,Sweet Orange,2013-06-16,2021-05-13,2889,2166,2556,1.33
47,Sugarbeet,2013-06-16,2021-05-13,2889,2166,2618,1.32
40,Pomegranate,2013-06-16,2021-05-13,2889,2166,2642,1.26
0,Apple(Jholey),2013-06-16,2021-05-12,2888,2166,2683,1.20
1,Bamboo Shoot,2013-06-16,2021-05-13,2889,2166,2744,1.20
12,Chilli Dry,2013-06-16,2021-05-13,2889,2166,2748,1.19
38,Pineapple,2013-06-16,2021-05-13,2889,2166,2634,1.15
27,Gundruk,2013-06-16,2021-05-02,2878,2158,2420,1.11
49,Tamarind,2013-06-16,2021-05-13,2889,2166,2715,1.08
21,Fish Fresh,2013-06-16,2020-10-20,2684,2013,2047,1.06
50,Tofu,2013-06-16,2021-05-13,2889,2166,2694,1.04

In [14]:
# Filtering the forecast_items dataframe so it only contains the commodities with the top 5 highest seasonal variability 

forecast_items = forecast_items.nlargest(5, 'seasonal_variability')
forecast_items.sort_values('seasonal_variability', ascending = False)

,Item,First_Day,Last_Day,Total_Span,Min_Days,Total_Days,seasonal_variability
39,Pointed Gourd(Local),2013-06-16,2021-05-13,2889,2166,2260,5.94
15,Coriander Green,2013-06-16,2021-05-13,2889,2166,2741,4.16
3,Bitter Gourd,2013-06-16,2021-05-13,2889,2166,2670,4.01
9,Carrot(Local),2013-06-16,2021-05-13,2889,2166,2736,3.37
14,Christophine,2013-06-16,2021-04-27,2873,2154,2225,3.18

In [ ]:
# Now I know which items are worth building time series forecast model for